.main-container {
     max-width: 1020px;
     margin: 0 auto;
}

.about-header {
     height: 70vh;
     background-image: url(img/inner-header-bg.svg);
     background-size: cover;
     background-position: center bottom;
}

.section-2 {
     background-image: url(img/home-header-dots-bg.svg);
     background-repeat: no-repeat;
}

.footer {
     background-color: #f7f7f7;
}
